<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/ShutterView/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/ShutterView/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ShutterView/css/magnific-popup.css">
    <link rel="stylesheet" href="/ShutterView/css/jquery-ui.css">
    <link rel="stylesheet" href="/ShutterView/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/ShutterView/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/ShutterView/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/ShutterView/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/ShutterView/css/aos.css">
    <link rel="stylesheet" href="/ShutterView/css/fancybox.min.css">
    <link rel="stylesheet" href="/ShutterView/css/style.css">
    @RenderSection("styles", required: false)
</head>


<body>
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">
            <div class="site-logo">
                <img src="~/ShutterView/images/jushenlogo.png" alt="logo" width="240" />
                <a href="index.html">JuShen巨神</a>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
            <div class="main-menu">
                <ul class="js-clone-nav">
                    <li class="active"><a href="photos.html">Home</a></li>
                    <li><a href="About.html">About</a></li>
                </ul>

                @*<ul class="social js-clone-nav">
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>*@
            </div>
        </header>
        <main class="main-content">
            <div class="container-fluid photos">
                @RenderBody()

                <div class="row justify-content-center">
                    <div class="col-md-12 text-center py-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div> <!-- .site-wrap -->
    <script src="/ShutterView/js/jquery-3.3.1.min.js"></script>
    <script src="/ShutterView/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/ShutterView/js/jquery-ui.js"></script>
    <script src="/ShutterView/js/popper.min.js"></script>
    <script src="/ShutterView/js/bootstrap.min.js"></script>
    <script src="/ShutterView/js/owl.carousel.min.js"></script>
    <script src="/ShutterView/js/jquery.stellar.min.js"></script>
    <script src="/ShutterView/js/jquery.countdown.min.js"></script>
    <script src="/ShutterView/js/jquery.magnific-popup.min.js"></script>
    <script src="/ShutterView/js/bootstrap-datepicker.min.js"></script>
    <script src="/ShutterView/js/aos.js"></script>
    <script src="/ShutterView/js/jquery.fancybox.min.js"></script>
    <script src="/ShutterView/js/main.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
